<div class="container mt-3">
  <h1>Themen und Lebenslagen</h1>
  <div id="auflistungBehorden" class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card bg-body-secondary mt-3" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Wohnen und Meldewesen</h5>
            <p class="card-text">Mieten, kaufen, sanieren - und beim Umzug an die Anmeldung denken. Alles rund um ihr
              Zuhause in Stuttgart.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-body-secondary mt-3" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Verkehr und Mobilität</h5>
            <p class="card-text">Auto, Motorrad, Fahrrad, Bus, Bahn,Tram, Taxi oder zu Fuß - so kommen Sie in Stuttgart
              von A nach B </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-body-secondary mt-3" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Ausland und Migration</h5>
            <p class="card-text">Sie kommen aus dem Ausland nach Stuttgart? Informationen zur Einreise, Aufenthalt ind
              Integration.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card bg-body-secondary mt-3" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Gesundheit und Soziales</h5>
            <p class="card-text">Krankheit, Alter, Pflege, Behinderung, Tod oder finanzielle Probleme: Hilfe in
              schwierigen Situationen.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-body-secondary mt-3" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Familie und Kind</h5>
            <p class="card-text">Heiraten, Kinder kriegen, Betreuung finden, Freizeit gestalten: Angebote und
              Wissnenswertes für Familien.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-body-secondary mt-3" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Schule und Bildung</h5>
            <p class="card-text">Von der Grundschule über Ausbildung oder Studium bis ins Berufsleben - gestalten Sie
              ihren Bildungsweg!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card bg-body-secondary mt-3" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Wirtschaft und Gewerbe</h5>
            <p class="card-text">Wirtschaftsstandort München: Services rund um die Gründung und Führung von Unternehmen.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-body-secondary mt-3" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Branchen und Berufe</h5>
            <p class="card-text">Von Agrarindustrie bis Zahnmedizin: Informationen für Fachleute und Unternehmen aus
              allen Bereichen.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-body-secondary mt-3" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Engagement und Hobby</h5>
            <p class="card-text">Freizeitangebote für groß und klein: Aktivitäte, Ehrenämter und Unterstützung für die
              Stadt</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>