<div class="container mt-2">
    <div id="customCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img height="400" src="/StuttgartWebRedesign/img/schlossplatz1.jpg" class="d-block w-100" alt="schlossplatz">
                <h5 class="image-location">Schlossplatz</h5>
            </div>
            <div class="carousel-item">
                <img height="400" src="/StuttgartWebRedesign/img/schlossplatz2.jpg" class="d-block w-100" alt="schlossplatz">
                <h5 class="image-location">Schlossplatz</h5>
            </div>
            <div class="carousel-item">
                <img height="400" src="/StuttgartWebRedesign/img/schlossplatz3.jpg" class="d-block w-100" alt="schlossplatz">
                <h5 class="image-location">Schlossplatz</h5>
            </div>
            <div class="carousel-item">
                <img height="400" src="/StuttgartWebRedesign/img/schlossplatz4.jpg" class="d-block w-100" alt="schlossplatz">
                <h5 class="image-location">Schlossplatz</h5>
            </div>
            <div class="carousel-item">
                <img height="400" src="/StuttgartWebRedesign/img/schlossplatz5.jpg" class="d-block w-100" alt="schlossplatz">
                <h5 class="image-location">Schlossplatz</h5>
            </div>
        </div>
        <div class="carousel-controls-custom">
            <button id="prevButton" class="btn btn-default">
                <i class="bi bi-arrow-left"></i>
            </button>

            <button id="pauseButton" class="btn btn-default">
                <i class="bi bi-pause-circle"></i>
            </button>

            <div id="carouselIndicatorsCustom" class="carousel-indicators-custom"></div>

            <button id="nextButton" class="btn btn-default">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
</div>