<div class="container mt-3 mb-3">
  <div class="row text-center">

    <!-- Service A-Z -->
    <div class="col icon">
      <a href="#" class="card">
        <div class="card-body">
          <i class="fas fa-theater-masks fa-2x"></i>
          <p class="card-text">Staatstheater Stuttgart</p>
        </div>
      </a>
    </div>

    <!-- Bürgerbüros -->
    <div class="col icon">
      <a href="#" class="card">
        <div class="card-body">
          <i class="fas fa-futbol fa-2x"></i>
          <p class="card-text">MercedesBenz Stadion</p>
        </div>
      </a>
    </div>

    <!-- Online-Dienste -->
    <div class="col icon">
      <a href="#" class="card">
        <div class="card-body">
          <i class="fas fa-book-open fa-2x"></i>
          <p class="card-text">Stadtbiblothek</p>
        </div>
      </a>
    </div>

    <!-- Social Media -->
    <div class="col icon">
      <a href="#" class="card">
        <div class="card-body">
          <i class="fas fa-tree fa-2x"></i>
          <p class="card-text">Hohenheimer Gärten</p>
        </div>
      </a>
    </div>

    <!-- Tourismus -->
    <div class="col icon">
      <a href="#" class="card">
        <div class="card-body">
          <i class="fas fa-monument fa-2x"></i>
          <p class="card-text">Staatsgalerie</p>
        </div>
      </a>
    </div>

    <!-- Bäder & Seen -->
    <div class="col icon">
      <a href="#" class="card">
        <div class="card-body">
          <i class="fas fa-landmark fa-2x"></i>
          <p class="card-text">Naturkunde- museum</p>
        </div>
      </a>
    </div>

  </div>
</div>