<div id="uberAktuelles" class="container p-5 bg-body-secondary mt-4">
    <div class="container">
        <h1>Aktuelles aus Stuttgart</h1>
        <p>Hier bieten wir Ihnen die neuesten Informationen, Ankündigungen und Nachrichten über die laufenden und
            geplanten Projekte, Veranstaltungen sowie wichtige Mitteilungen aus unserer Stadt. Es ist unser Anliegen,
            die Bürgerinnen und Bürger von Stuttgart stets aktuell und transparent über das Geschehen in unserer Stadt
            zu informieren. Bleiben Sie auf dem Laufenden mit den neuesten Entwicklungen in Stuttgart.</p>
    </div>
</div>