<div id="uberUnsWasen" class="container">
  <h1 class="mt-5">Über Uns</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>Cannstatter Wasen und Stuttgarter Frühlingsfest</h2>
      <p>Der Wasen in Bad Cannstatt, ein Festgelände am Neckar, wird zwei Mal im Jahr zum Anziehungspunkt für
        Einheimische und Touristen. Sowohl das Stuttgarter Frühlingsfest als auch das Cannstatter Volksfest zählen heute
        zu den schönsten Volksfesten der Welt. Pro Jahr kommen zu beiden Festen insgesamt rund 5 Millionen Gäste.
        Das Cannstatter Volksfest von Ende September bis Anfang Oktober hat eine lange Tradition. 1818 wurde das erste
        Mal auf Wunsch des württembergischen Königs Wilhelm I. auf dem Wasen ein landwirtschaftliches Fest gefeiert. Das
        heute unbeschwerte Treiben hat einen ernsten Ursprung: Als 1815 der indonesische Vulkan Tambora explodierte,
        schleuderte er so viel Gas und Staub in die Atmosphäre, dass dadurch das Klima auf Jahre verändert wurde – auch
        im weit entfernten Königreich Württemberg. Was folgte waren ein Jahr ohne Sommer, Missernten und Hungersnöte.
        König Wilhelm I. machte es sich daraufhin zur Aufgabe, die Landwirtschaft zu reformieren. Das Fest 1818 auf dem
        Wasen sollte ein Zeichen der Hoffnung sein. Die Fruchtsäule, eine mit Früchten dekorierte Holzsäule, wurde zum
        Symbol des Volksfests. Seiner landwirtschaftlichen Tradition ist das Fest treu geblieben: alle vier Jahre findet
        neben dem Volksfest das Landwirtschaftliche Hauptfest statt. Der Großteil der Besucher wird heute von den
        Fahrgeschäften sowie den Festzelten angelockt. Rund vier Millionen Menschen besuchen das Cannstatter Volksfest
        jedes Jahr, das im Volksmund auch ganz pragmatisch nach dem Ort des Geschehens benannt wird: „der Wasen“.
      </p>
    </div>
    <div class="col-md-6">
      <h2>Stuttgarter Frühlingsfest kleiner als „der Wasen“</h2>
      <p>Das Stuttgarter Frühlingsfest findet jährlich zwischen Mitte April und Anfang Mai statt und ist das Pendant zum
        Cannstatter Volksfest. Es ist flächenmäßig kleiner als „der Wasen“ im Herbst, dauert aber rund eine Woche
        länger. Bis zu 240 Betriebe, darunter vier Festzelte, zahlreiche Fahrgeschäfte und Buden, erwarten Jahr für Jahr
        rund eine Millionen Besucher. Es gilt als das größte Frühlingsfest Europas.
        Bleibt noch die Frage zu klären: Warum Cannstatter Wasen aber Stuttgarter Volksfest? Die Antwort findet sich im
        Gründungsjahr der Veranstaltungen: Als König Wilhelm I. das Volksfest 1818 ins Leben rief, war Bad Cannstatt
        noch unabhängig. Als das Frühlingsfest in den 1930er Jahren das erste Mal gefeiert wurde, gehörte Bad Cannstatt
        bereits zu Stuttgart. </p>
    </div>
  </div>
</div>