/* Global Styles */

:root {
    --main-font-size: 16px; /* Default font size */
  }
  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: var(--main-font-size);
    font-family: 'Roboto', sans-serif;
   
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* carausel styles */

.carousel-controls-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.carousel-indicators-custom {
    display: flex;
    gap: 5px;
}

.btn-indicator {
    width: 20px;
    height: 10px;
    border-radius: 40%;
    background-color: #b0b0b0;
    border: none;

}

.btn-indicator:hover {
    background-color: #555555;
}

.btn-indicator.active {
    background-color: #ffb300;

}

.image-location {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

.carousel-controls-custom i {
    font-size: 30px;
}

/* infobox styles */
.infobox {
    cursor: pointer;
    overflow: hidden;
}

.infobox img {
    transition: transform 0.5s ease;
    filter: brightness(50%);
}

.infobox:hover img {
    transform: scale(1.08);
}

.infobox:hover p {
    text-decoration: underline;
}

/* tips styles */
.custom-card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.custom-card:hover {
    transform: scale(1.05);
}

.custom-card a {
    transition: text-decoration 0.3s ease;
}

.custom-card:hover a {
    text-decoration: underline;
}