/* Global Styles */

/* Açık mod için link renkleri, Bootstrap zaten bunları sağlar */
.dynamic-link {
    color: #212529 !important; /* Varsayılan renk (koyu) */
  }
  
  [data-bs-theme='dark'] .dynamic-link {
    color: #f8f9fa !important; /* Koyu modda renk (açık) */
  }


.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid black; /* Okun rengi */
    vertical-align: auto;
  }
  
  [data-bs-theme='dark'] .arrow {
    border-left: 10px solid white; /* Koyu modda okun rengi beyaz */
  }

[data-bs-theme='dark'] .bg-warning {
  background-color: #784800 !important; /* Örnek koyu tema uyarı rengi */
}

[data-bs-theme='dark'] .text-warning {
  color: #784800!important; /* Örnek koyu tema uyarı metin rengi */
}

/* Koyu tema aktifken .btn-warning için */
[data-bs-theme='dark'] .btn-warning {
    background-color: #784800 !important; /* Daha koyu arka plan rengi */
    border-color: #000 !important; /* Siyah çerçeve rengi */
  }
  
  /* Buton üzerinde etkileşim olduğunda (hover, active, focus) */
  [data-bs-theme='dark'] .btn-warning:hover {
    background-color: #5a3600 !important; /* Hover durumunda arka plan rengi */
    border-color: #000 !important; /* Hover durumunda siyah çerçeve rengi */
  }
  
  [data-bs-theme='dark'] .btn-warning:active {
    background-color: #402400 !important; /* Aktif durumda arka plan rengi */
    border-color: #000 !important; /* Aktif durumda siyah çerçeve rengi */
  }
  
  [data-bs-theme='dark'] .btn-warning:focus {
    box-shadow: 0 0 0 0.25rem rgba(120, 72, 0, 0.5) !important; /* Odaklanma gölgesi, siyah yerine uyarı rengiyle uyumlu bir gölge kullanılabilir */
  }

  [data-bs-theme='dark'] .bg-dark {
    background-color: #000 !important; /* Arka plan rengini siyah yap */
  }
  
  :root[data-bs-theme='dark'] .fas {
    color: #fff !important;
  }

:root {
    --main-font-size: 16px; /* Default font size */
  }
  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: var(--main-font-size);
    font-family: 'Roboto', sans-serif;
   
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* carausel styles */

.carousel-controls-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.carousel-indicators-custom {
    display: flex;
    gap: 5px;
}

.btn-indicator {
    width: 20px;
    height: 10px;
    border-radius: 40%;
    background-color: #b0b0b0;
    border: none;

}

.btn-indicator:hover {
    background-color: #555555;
}

.btn-indicator.active {
    background-color: #ffb300;

}

.image-location {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

.carousel-controls-custom i {
    font-size: 30px;
}

/* infobox styles */
.infobox {
    cursor: pointer;
    overflow: hidden;
}

.infobox img {
    transition: transform 0.5s ease;
    filter: brightness(50%);
}

.infobox:hover img {
    transform: scale(1.08);
}

.infobox:hover p {
    text-decoration: underline;
}

/* tips styles */
.custom-card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.custom-card:hover {
    transform: scale(1.05);
}

.custom-card a {
    transition: text-decoration 0.3s ease;
}

.custom-card:hover a {
    text-decoration: underline;
}