/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-size: 16px; /* Default font size */
  --bs-warning: #ffb300;
}

body {
  font-size: var(--main-font-size);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}



/* Carousel Styles */
.carousel-controls-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.carousel-indicators-custom {
  display: flex;
  gap: 5px;
}

.btn-indicator {
  width: 20px;
  height: 10px;
  border-radius: 40%;
  background-color: #b0b0b0;
  border: none;
}

.btn-indicator:hover {
  background-color: #303030;
}

.btn-indicator.active {
  background-color: #555555;

}

.image-location {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}

.carousel-controls-custom i {
  font-size: 30px;
}

/* Infobox Styles */
.infobox {
  cursor: pointer;
  overflow: hidden;
}

.infobox img {
  transition: transform 0.5s ease;
  filter: brightness(50%);
}

.infobox:hover img {
  transform: scale(1.08);
}

.infobox:hover p {
  text-decoration: underline;
}

/* Tips Styles */
.custom-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.custom-card:hover {
  transform: scale(1.05);
}

.custom-card a {
  transition: text-decoration 0.3s ease;
}

.custom-card:hover a {
  text-decoration: underline;
}

.dynamic-link {
  color: #212529;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
  vertical-align: auto;
}

/* Weitere Styles */
.navbar-brand, 
.svg-icon {
  cursor: pointer;
}

.icon:hover p {
  text-decoration: underline;
}

/* Light Theme Styles */
[data-bs-theme='light'] {
  
  .infobox {
  color: #fff;
  }

  .footer {
    background-color: #212529;
    color: #fff;
  }

}


/* Dark Theme Styles */
[data-bs-theme='dark'] {
  /* Service Telefon Styles */
  .bg-warning {
    background-color: #784800 !important;
  }

  .text-warning {
    color: #784800;
  }

  .btn-warning {
    background-color: #784800;
    border-color: #000;
  }

  .btn-warning:hover {
    background-color: #5a3600;
    border-color: #000;
  }

  .btn-warning:active {
    background-color: #402400;
    border-color: #000;
  }

  .btn-warning:focus {
    box-shadow: 0 0 0 0.25rem rgba(120, 72, 0, 0.5);
  }
  /* Weitere Dark Mode Styles */
  .arrow {
    border-left: 10px solid white;
  }

  .fas {
    color: #fff;
  }

  .svg-icon {
    filter: invert(100%);
  }

  .dynamic-link {
    color: #f8f9fa;
  }

  .footer {
    background-color: #000;
  }
}


/* Custom Theme Styles */
[data-bs-theme="custom"] {
  .bg-body-tertiary {
    background-color: var(--bs-warning) !important;
  }
  
  .icon .card {
    color: var(--bs-warning);
  }

  .dynamic-link {
    color: var(--bs-warning);
  }

  .arrow {
    border-left: 10px solid var(--bs-warning);
  }

  .infobox {
    color: #fff;
    }

  .footer {
    background-color: #212529;
    color: #fff;
  }

  .btn-indicator.active {
    background-color: var(--bs-warning);
  
  }

  .btn.btn-default {
    color: var(--bs-warning);
  }
}